@import 'includes/reset';
@import 'includes/layout';
@import 'includes/mixins';
@import 'includes/form';

.wrap {
    @include container;
}

.content {
    @include span(8);
    min-height: 200px;
    background-color: #f4f4f4;
}

.sidebar {
    @include span(4 last);
    height: 250px;
    background-color: #f5f4f4;
}

.social {
    @include container;
    padding-top: gutter(inner);
    padding-bottom: gutter(inner);
    @include clearfix;
    .social__list-item {
        padding: gutter();
        &:nth-child(1n+1) {
            background-color: #f5f4f4;
        }
        &:nth-child(2n+2) {
            background-color: #f4f4f4;
        }
        @include span(1 of 10);
        &:last-child {
            @include last;
        }
    }
}