<!DOCTYPE html>
<html data-ng-app="xApp" lang="en">
    <head>
        <meta charset="utf-8">
            <title>
                Sussy
            </title>
            <script src="bower_components/jquery/dist/jquery.min.js">
            </script>
            <script src="bower_components/angular/angular.js">
            </script>
            <script src="js/ctrls.js">
            </script>
            <script src="bower_components/gsap/TweenMax.min.js">
            </script>
            <link href="css/style.min.css" rel="stylesheet">
            </link>
        </meta>
    </head>
    <body data-ng-controller="xAppListCtrl">
        <div class="wrap">
            <div class="content">
                <div class="col_tab_3">
                    <div class="wrap__form">
                        <form class="form" ngform="">
                            <label>
                                Name:
                            </label>
                            <input data-ng-model="yourName" placeholder="Enter a name here" type="text">
                                <hr>
                                    <h1>
                                        Your name is
                                        <span ng-bind="yourName">
                                        </span>
                                    </h1>
                                </hr>
                            </input>
                        </form>
                    </div>
                </div>
                <div class="col_tab_3">
                    <div class="wrap__color">
                        <div class="color" data-ng-repeat='color in colors'>
							<p data-ng-bind='color.color'></p>
							<p data-ng-bind='color.hex'></p>
                        </div>
                    </div>
                </div>
                <div class="col_tab_3">
                    333
                </div>
            </div>
            <div class="sidebar">
            </div>
        </div>
        <div class="social">
            <ul>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
                <li class="social__list-item">
                    1
                </li>
            </ul>
        </div>
    </body>
</html>